.rune {
    height: 75px;
    width: 75px;
    padding: 0px 12px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.secondaryRune {
    height: 75px;
    width: 75px;
    padding: 0px 12px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.champion {
    height: 75px;
    width: 75px;
    padding: 0px 12px;
}

.runeHover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}

.runeSelected {
    -webkit-filter: brightness(150%);
    filter:brightness(150%);
}

.rune.keystoneRune {
    height: 100px;
    width: 100px;
    padding: 0px;
}

.runeRow {
    display: flex;
    justify-content: center;
    padding: 12px 0px;
}

.treeSelectorRow {
    display: flex;
    justify-content: center;
    padding: 10px 0px 30px 0px;
}

.runeTreeIcon {
    height: 50px;
    width: 50px;
    padding: 0px 15px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.runeTreeHover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}

.runeTreeIconSelected {
    -webkit-filter: brightness(150%);
    filter:brightness(150%);
}

.gone {
    display: none;
}