body {
    color: white;
    font-family: Helvetica, sans-serif;
}

.rune {
    height: 65px;
    width: 65px;
    padding: 0px 12px;
    cursor: pointer;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.rune:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}

.runeSelected {
    cursor: default;
    -webkit-filter: brightness(150%) !important;
    filter:brightness(150%) !important;
}

.runes .rune.keystoneRune {
    height: 90px;
    width: 90px;
    padding: 0px;
}

.treeSelectorRow {
    display: flex;
    justify-content: center;
    padding: 10px 0px 20px 0px;
}

.runeRow {
    display: flex;
    justify-content: center;
    padding: 12px 0px;
}

.runeTreeIcon {
    height: 45px;
    width: 45px;
    padding: 0px 10px;
    cursor: pointer;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.runeTreeIcon:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}

.runeTreeIconSelected {
    cursor: default;
    -webkit-filter: brightness(150%) !important;
    filter:brightness(150%) !important;
}

.runeContainer {
    position: relative; /* All "absolute" positioned children should actually be relative to this element */
}
.runeDetails {
    display: none;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 100px;
    width: 250px;
    padding: 10px;
    background: gray;
    color: white;
    z-index: 100;
}
.runeName {
    font-weight: bold;
    margin-bottom: 10px;
}
.runeContainer:hover .runeDetails {
    display: block;
}

.champion {
    height: 65px;
    width: 65px;
    padding: 0px 12px;
}

.gone {
    display: none;
}

h1 {
    text-align: center;
}

h3 {
    color: grey;
    text-align: center;
}