body {
    color: white;
    font-family: Helvetica, sans-serif;
}

#runes {
    min-height: 400px;
}

.rune {
    height: 65px;
    width: 65px;
    padding: 0px 12px;
    cursor: pointer;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.rune:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}

.runeSelected {
    cursor: default;
    -webkit-filter: brightness(150%) !important;
    filter:brightness(150%) !important;
}

.rune.keystoneRune {
    height: 90px;
    width: 90px;
    padding: 0px;
}

#secondaryRunes, #champions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.treeSelectorRow {
    display: flex;
    justify-content: center;
    padding: 10px 0px 20px 0px;
}

.runeRow {
    display: flex;
    justify-content: center;
    padding: 12px 0px;
}

.runeTreeIcon {
    height: 45px;
    width: 45px;
    padding: 0px 10px;
    cursor: pointer;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.runeTreeIcon:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}

.runeTreeIconSelected {
    cursor: default;
    -webkit-filter: brightness(150%) !important;
    filter:brightness(150%) !important;
}

.runeContainer {
    position: relative; /* All "absolute" positioned children should actually be relative to this element */
}
.runeDetails {
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 100px;
    width: 250px;
    padding: 10px;
    border: 1px #999999 solid;
    background: #333333;
    color: white;
    z-index: 100;
    
    opacity: 0;
    transition: opacity 0.3s;
}
.runeDetails::before {
    border: 12px solid;
    border-color: transparent;
    border-right-color: #999999;
    display: block;
    position: absolute;
    left: -24px;
    top: 18px;
    z-index: 10;

    content: '';
    width: 0;
    height: 0;
}
.runeDetails::after {
    border: 10px solid;
    border-color: transparent;
    border-right-color: #333333;
    display: block;
    position: absolute;
    left: -20px;
    top: 20px;
    z-index: 11;

    content: '';
    width: 0;
    height: 0;
}
.keystoneRune + .runeDetails::before {
    top: 28px;
}
.keystoneRune + .runeDetails::after {
    top: 30px;
}


.runeName {
    font-weight: bold;
    margin-bottom: 10px;
}
.runeContainer:hover .runeDetails {
    opacity: 0.9;
}

.precisionRune .runeDetails {
    background: hsl(32, 29%, 25%);
}
.precisionRune .runeDetails::after {
    border-right-color: hsl(32, 29%, 25%);
}

.dominationRune .runeDetails {
    background: hsl(353, 26%, 25%);
}
.dominationRune .runeDetails::after {
    border-right-color: hsl(353, 26%, 25%);
}

.sorceryRune .runeDetails {
    background: hsl(255, 41%, 24%);
}
.sorceryRune .runeDetails::after {
    border-right-color: hsl(255, 41%, 24%);
}

.resolveRune .runeDetails {
    background: hsl(118, 26%, 24%);
}
.resolveRune .runeDetails::after {
    border-right-color: hsl(118, 26%, 24%);
}

.inspirationRune .runeDetails {
    background: hsl(191, 26%, 25%);
}
.inspirationRune .runeDetails::after {
    border-right-color: hsl(191, 26%, 25%);
}

.champion {
    height: 65px;
    padding: 0px 12px;
}

.gone {
    display: none;
}

.hidden {
    visibility: hidden;
}

h1 {
    text-align: center;
}

h3 {
    color: grey;
    text-align: center;
}

h5 {
    color: grey;
    text-align: center;
    font-style: italic;
    margin-top: -15px;
}

#about {
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 60px;
}

.question {
    font-size: 150%;
}

.answer {
    font-size: 100%;
    color: grey;
}

#disclaimer {
    font-size: 70%;
    text-align: center;
    margin-top: 25px;
}

a {
    color: white;
}